.header-left{
  width: 237px;float: left;
}
.headerImg{
  background-image: url(/app/img/safety.png) ;
  background-position: 10px 2px;
  background-size: auto 47px;
  background-repeat: no-repeat;
  border-radius: 0;
  display: block;
  height: 56px;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
  padding: 0;

}
li:hover{
   background-color: #1E88E5;
 }
.headerImg span{
  color: #e3ecec;
  vertical-align: middle;line-height: 56px;text-decoration: none;padding-left: 132px;
}
.header-user{

}
.header-right{
  float: right;list-style: none;line-height: 56px;margin-right: 21px;
}
.header-right  a{
  text-decoration: none;
  color: #e3ecec;padding: 0 10px;
}
